body { 
    margin: 0px;
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background: #3c4246;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
#profile {
        margin-top: 50px;
        padding: 2%;
}

#profile h1 {
    color:#fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
}

#avatar {
    text-align: center;
    display: block;
}

#avatar img{
    display: block;
    margin:  2% auto 2% auto;
}
#avatar input{
    display: block;
    margin: auto;
    background: ;
}
#personal-dates{
    padding: 2%;
    margin: 2%;
    align-items:center
}
#personal-dates input,textarea{
    width: 50%;
    display: inline-block;
    padding: 1%;
    border-radius: 8px;
    background: #262a2d;
    color: #fff;
    border: #262a2d;
    height: 20px;
}
#personal-dates form{
    padding: 2%;
}
#personal-dates textarea {
    width: 100%;
    height: 200px;
}

#date-fields input{
    display: block;
    margin: 1px;
}
#date-fields label{
    margin: auto auto auto auto;
    color: #fff;
    padding: 1%;
    height: 20px;
}