body { 
    margin: 0px;
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-size:cover;
    background: #3c4246;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );  
}
#dashboard{
    margin-top: 50px;
    padding: 2%;
}

.section{
    padding: 2%;
    background: #292d30;
    max-width: 30%;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    color: #fff;
    text-align: left;
}
.section p{
    display: inline;
    font-weight: bold;
    color: #c47694;
}