
body { 
    margin: 0px;
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-size:cover;
    background: #3c4246;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );  
}
.section {
    padding: 3%;
    padding-top: 10%;
}

.game-body {
    width: 46.666%;
    height: 200px;
    background:#292d30;
    padding: 0% 2% 0% 0%;
    margin: 2px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);;
}

.game-image {
    width: auto;
    height: 200px;
    float: left;
    margin-right: 10px;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
}

.game-info {
    padding: 4%;
}
.info{
    font-weight: bold;
    color: #c47694;
}
span,h5{
    color:#fff;
    font-family:  'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1em;
    display: inline;
}

h1{
    color:#fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    text-align: center;
    margin:3%;
}