body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background: #292d30;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
}



.fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 127;
}

.fab button {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #ffa201;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    font-size: 24px;
    color: white;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab button:focus {
    outline: none;
}

.fab button.main {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #5b19b7;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.fab ul {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    list-style: none;
    z-index: 10;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab ul li {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -10%;
    opacity: 0;

    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
}

.fab ul li label {
    margin-right: auto;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    padding: 5px 8px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: 3px;
    height: 18px;
    font-size: 16px;
    pointer-events: none;
    opacity: 0;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab.show button.main,
.fab.show button.main {
    outline: none;
    background-color: #ff670f;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}


.fab.show button.main+ul,
.fab.show button.main+ul {
    bottom: 70px;
}

.fab.show button.main+ul li,
.fab.show button.main+ul li {
    margin-bottom: 10px;
    opacity: 1;
}

.fab.show button.main+ul li:hover label,
.fab.show button.main+ul li:hover label {
    opacity: 1;
}

.dashboard {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}
.col-1{
    width: 15%;
    height: 100%;
    float: left;
    z-index: 9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}
.col-2{
    width: 40%;
    height: 100%;
    float: left;
    z-index: 8;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}
.col-3{
    width: 45%;
    height: 100%;
    float: left;
}
.row-1{
    z-index: 6;
    height: 40%;
    max-width: 100%;
    margin: 0;
    margin-top: 58px;
    margin-bottom: -58px;
    box-shadow:0 1px 5px rgba(0, 0, 0, .4);
    box-shadow:  inset;
}
.row-2{
    z-index: 7;
    height: 60%;
    max-width: 100%;
    margin: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}

#users {
    margin-top: 55px;
    padding: 10%;
    max-width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color:#1e1e1e; 
    overflow-x: hidden;
}

#users a,#users h5,#users span{
    color:#fff;
}
#users ul{
    list-style-type: none;
}
#users h5{
    font-family: 'Press Start 2P', cursive;
}

.option {
    max-width: 100%;
    height: 100%;
}

.option iframe {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}

.map {
    height: 100%;
    width: 100%;
}
.map-container{
    background: coral;
    height: 100%;
    width: 100%;
}

.sessions{
    background: #37373d;
    height: 100%;
}

.next-sessions-container h5{
    padding: 5%;
    color: #fff;
    font-size: 1.7em;
    font-family: 'Press Start 2P', cursive;
}

.reload {
    display: block;
    text-align: center;
    position: relative;
    padding: 15%;
}
.reload span {
    color: #fff;
}
.reload i{
    color:#fff;
    font-size: 3em;
    display: block;
}
