.section {
    margin-top: 70px;
    padding: 5%;
}

.switch {
    display: inline-block;
    height: 30px;
    width: 40%;
}
.option{
    display: inline-block;
    width: 24.6%;
    margin: auto;
    height: 40px;
}
.option span{
    color: #fff;
    font-size: 1.4em;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.section h5 {
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    padding: 1%;
}
#filters {
    margin: auto;
    width: 80%;
    text-align: center;
}

#search-form {
    display: block;
    text-align: center;
}

#search-form #search {
    padding: 9px 14px;
    border-radius: 8px;
    width: 70%;
    background: #292d30;
    border: solid #292d30;
    color: #fff;
}